body {
    background-color: #AEFE95;
    font-family: Arial, sans-serif; 
}

h1 {
    color: #333; /* Dark gray color for headings */
    text-align: center; /* Center align headings */
}

p {
    color: 	#ff9a00;
    font-size: 1.2em; /* Increase the font size */
    margin: 20px; /* Add margin around paragraphs */
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border: 1px orangered;
}